[submodule "NodeJS_Attendance_Management_EndPoint/public/student/Student_Attendance"]
	path = NodeJS_Attendance_Management_EndPoint/public/student/Student_Attendance
	url = https://github.com/eastanganelli/Student_Attendance.git
